<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    <link rel="stylesheet" href="/css/stylesheet.css">
    
    <!-- not possible to link JS file to EJS (<script src="/js/search-input.js"></script>), so will do so by directly pasting code at the bottom  -->
</head>
<body>

    <section id="container">
        <div class="btn-group btn-group-sm">
            <a href="/products" class="btn btn-primary active" aria-current="page" id="allProductsButton">All Products</a>
            <a href="/products/cook.ejs" class="btn btn-primary active" aria-current="page" id="cookingButton">Cooking Ideas</a>
        </div>
    </section>

    <section class="headingContainer">
        <h1 class="heading">Expiry Date Tracker</h1>
    </section>
    
    <section id="subheadingContainer">
        Select your ingredients:
    </section>
    
    <section id="unorderedListContainer">
        <input type="text" placeholder="Seach Here..." id="search-input">
        
        
        <button class="btn btn-outline-light btn-sm" id="findRecipesButton">Recipes</button>
      

        <br>
        
        <ul id="unorderedList">

           

            <% for (let product of products) { %>
                <!-- for items that are expiring within 3 days, highlight in red -->
                
                <% const dayDifference = parseInt(product.expiryDate.slice(8)) - day; %>
                <% const productYear = parseInt(product.expiryDate.slice(0,4)) %>
                <% const productMonth = parseInt(product.expiryDate.slice(5,7)) %>
                <% const productDay = parseInt(product.expiryDate.slice(8)) %>
                
                <!-- Expired -->
                <% if (year > productYear || (year == productYear && month > productMonth) || (year == productYear && month == productMonth && dayDifference < 0)) { %>
                    <li class="listItem separateHorizontal">
                        <div>
                            <input type="checkbox" id="<%= product.id %>" value="<%= product.title %>">
                            <label for="<%= product.id %>">
                                <span style="color:brown">
                                    <%= product.title %>
                                    
                                </span>
                            </label>
                        </div>
                        <div style="color:brown">&nbsp &nbsp<i class="fa fa-trash-o" style="font-size:25px"></i></div>
                    </li>

                <!-- About to expire -->
                <!-- (a) -->
                <% } else if ( year == productYear && month == productMonth && (dayDifference >= 0 && dayDifference <= 7) ) { %>
                    <li class="listItem separateHorizontal">
                        <div>
                            <input type="checkbox" id="<%= product.id %>" value="<%= product.title %>">
                            <label for="<%= product.id %>">
                                <span style="color: red"><%= product.title %></span>
                            </label>
                        </div>
                        <% if (dayDifference == 0) { %>
                            <div style="color: red">&nbsp &nbsp 0d</div>
                        <% } else if (dayDifference == 1){ %>
                            <div style="color: red">&nbsp &nbsp <%= dayDifference %>d</div>
                        <% } else { %>
                            <div style="color: red">&nbsp &nbsp <%= dayDifference %>d</div>
                        <% } %>
                    </li>

                <!-- (b) -->
                <% } else if ( (year == productYear && productMonth - month == 1) && (totalDaysInCurrentMonth - day + productDay >= 0 && totalDaysInCurrentMonth - day + productDay <= 7) ) { %>

                    <li class="listItem separateHorizontal">
                        <div>
                            <input type="checkbox" id="<%= product.id %>" value="<%= product.title %>">
                            <label for="<%= product.id %>">
                                <span style="color: red"><%= product.title %></span>
                            </label>
                        </div>
                        <% if (totalDaysInCurrentMonth - day + productDay == 0) { %>
                            <div style="color: red">&nbsp &nbsp 0d</div>
                        <% } else if (totalDaysInCurrentMonth - day + productDay == 1) { %>
                            <div style="color: red">&nbsp &nbsp <%= totalDaysInCurrentMonth - day + productDay %>d</div>
                        <% } else { %>
                            <div style="color: red">&nbsp &nbsp <%= totalDaysInCurrentMonth - day + productDay %>d</div>
                        <% } %>
                    </li>



                <!-- Not expiring any time soon -->
                <% } else { %>
                    <li class="listItem separateHorizontal">
                        <div>
                            <input type="checkbox" id="<%= product.id %>" value="<%= product.title %>">
                            <label for="<%= product.id %>">
                                <span style="color:green"><%= product.title %></span>
                            </label>
                        </div>
                        <div style="color:green">&nbsp &nbsp >1w</div>
                    </li>
                <% } %>
            <% } %>
        </ul>
        <br>

        
        
    </section>

    <section id="content">
        

    </section>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    <script>
        document.querySelector("#search-input").addEventListener("input", filterList);

        function filterList() {
            const searchInput = document.querySelector("#search-input");
            const filter = searchInput.value.toLowerCase();
            const listItems = document.querySelectorAll(".listItem");

            listItems.forEach(e => {
                let text = e.textContent;
                if(text.toLowerCase().includes(filter.toLowerCase())) {
                    e.style.display = "";
                } else {
                    e.style.display = "none";
                }
            })
        }
    </script>

    <!-- Script for Cook recipe -->
    <script>
        let btnShow = document.querySelector("#findRecipesButton");

        btnShow.addEventListener("click", () => {
            let checkboxValues = document.querySelectorAll('input[type="checkbox"]:checked');
            let searchString = "";
            for (let i = 0; i < checkboxValues.length; i++) {
                searchString += checkboxValues[i].defaultValue + " ";
            }
            sendApiRequest(searchString);
        })

        async function sendApiRequest(searchString) {
            let app_id = "c109b0c8";
            let app_key = "e4e730dc5cd38898e783c34ffa532179";
            let response = await fetch(`https://api.edamam.com/api/recipes/v2?type=public&app_id=${app_id}&app_key=${app_key}&q=${searchString}`);
            console.log(response);
            let data = await response.json();
            console.log(data);
            useApiData(data);
        }

        function useApiData(data) {

            /*
            <div class="container">
                <div class="row gy-3 justify-content-center">
                    <!-- In bootstrap 5 it's mobile first -->
                    <div class="col-12 col-md-6 col-xl-3">
                        <div class="card h-100" style="width: 18rem;" class="card-img-top">
                            <img src="https://www.aquariumsource.com/wp-content/uploads/2022/12/ranchu-goldfish.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
            */

            let tagsAndContent = "<div class='headingContainer'><h1 class='heading'>Recipes</h1></div>";
            tagsAndContent += "<div class='container'>";
            tagsAndContent += "<div class='row gy-4'>";

            let counter = 0;
            for (let i = 0; i < data.hits.length; i++) {
                // For every 4th element, add <div class="row">
                if (counter % 4 == 0 && i != 0) {
                    tagsAndContent += "</div><br><div class='row gy-4'>";
                    counter = 0;
                } //style="width: 18rem;
                tagsAndContent += `
                <div class="col-12 col-md-6 col-xxl-3">
                    <div class="card h-100" style="width:18rem" class="card-img-top">  
                        <img src="${data.hits[i].recipe.image}"  class="card-img-top">
                        <div class="card-body separateVertical">
                            <div>
                                <h5 class="card-title">${data.hits[i].recipe.label}</h5>
                                <p class="card-text">Meal type: ${data.hits[i].recipe.mealType} <br>Time: ${data.hits[i].recipe.totalTime} minutes <br> Source: ${data.hits[i].recipe.source}</p>
                            </div>
                            <div>
                                <a href="${data.hits[i].recipe.url}" class="btn btn-primary">Visit Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
                `;
                counter ++;
            }
            tagsAndContent += "</div>" // closing for row
            tagsAndContent += "</div>" // closing for container

            document.querySelector("#content").innerHTML = tagsAndContent;
            // Wait til all cards are loaded before directing them to cards
            document.getElementById('content').scrollIntoView();
        }
    </script>
</body>
</html>