<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- not possible to link JS file to EJS (<script src="/js/search-input.js"></script>), so will do so by directly placing code in here  -->
</head>
<body>

    <section class="headingContainer">
        <h1 class="heading">Expiry Date Tracker</h1>
    </section>
    

    <section id="subheadingContainer">
        Current items:
    </section>
    
    <section id="unorderedListContainer">
        <input type="text" placeholder="Seach Here..." id="search-input">
        
        <a href="/products/new" id="addProduct"><i class="fa fa-plus-circle fa-lg"></i></a>

        <br>

        <ul id="unorderedList">
            <% for (let product of products) { %>
                <!-- for items that are expiring within 3 days, highlight in red -->
                
                <% const dayDifference = parseInt(product.expiryDate.slice(8)) - day %>
                <% const productYear = parseInt(product.expiryDate.slice(0,4)) %>
                <% const productMonth = parseInt(product.expiryDate.slice(5,7)) %>
                <% const productDay = parseInt(product.expiryDate.slice(8)) %>
                
                <!-- Expired -->
                <% if (year > productYear || (year == productYear && month > productMonth) || (year == productYear && month == productMonth && dayDifference < 0)) { %>
                    <li class="listItem">
                        <a href="/products/<%=product._id%>" style="color:brown" class="separateHorizontal">
                            <div><%= product.title %></div> 
                            <div>&nbsp &nbsp <i class="fa fa-trash-o" style="font-size:25px"></i></div>
                        </a>
                    </li>

                <!-- About to expire -->
                <!-- (a) Same year, same month, dayDifference < 3 -->
                <% } else if ( year == productYear && month == productMonth && (dayDifference >= 0 && dayDifference <= 7) ) { %>
                    <li class="listItem">
                        <a href="/products/<%=product._id%>" style="color: red" class="separateHorizontal">
                            <div><%= product.title %></div>
                            <% if (dayDifference == 0) { %>
                                <div>&nbsp &nbsp 0d</div>
                            <% } else if (dayDifference == 1){ %>
                                <div>&nbsp &nbsp <%= dayDifference %>d</div>
                            <% } else { %>
                                <div>&nbsp &nbsp <%= dayDifference %>d</div>
                            <% } %>
                        </a>
                    </li>

                <!-- (b) OR same year, product expiry is +1 month, dayDifference < 3 (&#9888;)-->
                <% } else if ( (year == productYear && productMonth - month == 1) && (totalDaysInCurrentMonth - day + productDay >= 0 && totalDaysInCurrentMonth - day + productDay <= 7) ) { %>
                    <li class="listItem">
                        <a href="/products/<%=product._id%>" style="color: red" class="separateHorizontal">
                            <div><%= product.title %></div>
                            <% if (totalDaysInCurrentMonth - day + productDay == 0) { %>
                                <div>&nbsp &nbsp 0d</div>
                            <% } else if (totalDaysInCurrentMonth - day + productDay == 1) { %>
                                <div>&nbsp &nbsp <%= totalDaysInCurrentMonth - day + productDay %>d</div>
                            <% } else { %>
                                <div>&nbsp &nbsp <%= totalDaysInCurrentMonth - day + productDay %>d</div>
                            <% } %>
                        </a>
                    </li>
                
                <!-- Not expiring any time soon -->
                <% } else { %>
                    <li class="listItem">
                        <a href="/products/<%=product._id%>" style="color:green" class="separateHorizontal">
                            <div><%= product.title %></div> 
                            <div>&nbsp &nbsp >1w</div>
                        </a>
                    </li>
                <% } %>
                <!-- (1) > 1 year; (2) Same year, same month, >3 weeks; (3) Same year, diff month, >3 weeks -->
            <% } %>

        </ul>
    </section>

    <nav class="navbar fixed-bottom bg-body-tertiary navBarContainer">
        <a class="navbar-brand" href="/products">Home</a>
        <a class="navbar-brand" href="/products/cook">Cook</a>
    </nav>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    <script>
        document.querySelector("#search-input").addEventListener("input", filterList);

        function filterList() {
            const searchInput = document.querySelector("#search-input");
            const filter = searchInput.value.toLowerCase();
            const listItems = document.querySelectorAll(".listItem");

            listItems.forEach(e => {
                let text = e.textContent;
                if(text.toLowerCase().includes(filter.toLowerCase())) {
                    e.style.display = "";
                } else {
                    e.style.display = "none";
                }
            })
        }
    </script>
</body>
</html>